{% extends 'base.html' %}>

{% block meta %}
<title>Account Registration</title>
{% endblock meta %}

{% block content %}  

<div class="register">
    <form method="POST" action="">
        {% csrf_token %}
            <section class="vh-100 gradient-costum">
                <div class="cotaniner py-h h-100">
                    <div class="row d-flex justify-content-center align-items-center h-100">
                        <div class="col-12 col-md-8 col-lg col-xl-5">
                            <div class="card bg-dark text-white" style="border-radius: 1rem;">
                                <div class="card-body p-5 text-center">
                                    <div class="mb-md-5 mt-md-4 pb-5">
                                        <h1 class="text-3xl font-semibold">Make New Account</h1>
                                            <table>  
                                                {{ form.as_table }} 
                                            </table>
                                        
                                            {% if messages %}
                                                <ul class="mt-3">
                                                    {% for message in messages %}
                                                <li class="text-red-500">{{ message }}</li>
                                                    {% endfor %}
                                                </ul>
                                                    {% endif %}   
                                        
                                            <div class="container">
                                                <div class="row">
                                                    <div class="col text-center">
                                                        <button class="btn btn-outline-primary btn-lg px-5" type="submit" value="Submit">Submit</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div>
                                                <p class="mb-0">Already have an account? <a href="{% url 'todolist:login' %}" class="text-blue-50 fw-bold">Login</a></p>
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
    </form>
</div>


{% endblock content %}